* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu Mono', monospace;
    background-color: #f0f0f5;
    padding: 20px;
}

header {
    background-color: #440154;
    padding: 10px;
    text-align: center;
    color: white;
    border-radius: 10px;
}

nav {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #31688e;
    color: white;
    border-radius: 5px;
    font-family: 'Ubuntu Mono', monospace;
}

button:hover {
    background-color: #35b779;
}

section {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.hidden {
    display: none;
}
